
.fa-envelope,.fa-phone-alt{   /*for changing icon color*/
    color: #4F4F4F;
}

.sectionOne{
    display: flex;
    margin: 10px auto;
    background-color: white;
    width: 1046px;
    justify-content: space-around;
    color: $smallFontColor;
    font-size: $smallFontSize;
    font-family: 'Montserrat', sans-serif;
    // border: 2px solid black;
    border-radius: 10px;
    div:nth-child(1) img{
        height: 168px;
        width: 175px;
        border-radius: 16px;
        padding: 5%;
        margin-top: 2px;
        // border: 1px solid green;
    }
    
}
section.sectionOne div.sectionOneSecond{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
    padding-left: 2%;
    // border: 1px solid black;
    justify-content: space-around;
    
    &>div:nth-child(1){
        display: flex;
        justify-content: space-between;
        // padding: 2%;
        // border: 1px solid black;
        &>div:nth-child(1){
            display: flex;
            flex-direction: column;
            &>p:nth-child(1){
                color: $titleFontColor;
                font-size: $titleFontSize;
            }
            &>p:nth-child(2){
                color: $smallFontColor;
            }
        }
        &>div:nth-child(2){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // border: 1px solid blue;
            padding-right: 3%;
            color: $titleFontColor;
            div{
                display: flex;
            }
            div p{
                margin-left: 8px;
                
            }
        }
    }
    &>div:nth-child(2),&>div:nth-child(3){
        // border: 1px solid red;
        
        padding-right: 10%;
    }
    
}

