
$titleFontColor : #4F4F4F;
$smallFontColor : #828282;
$smallFontSize : 18px;
$titleFontSize: 24px;

@mixin progressBarBlue($widthBlue) {
    width: $widthBlue;
}
@mixin progressBarWhite($widthWhite) {
    width: $widthWhite;
    // margin-left: $mrLeft;
}
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: #333333;
}
.outerMainSection{
    width: 1250px;
    background-color: #C4C4C4;
    margin: 5% auto;
    padding-top:2% ;
    border-radius: 10px;
}

@import './sectionOne';
@import "./sectionTwo";
@import './progressBar';
@import './sectionThree';
@import './sectionFour';